.env

__pycache__/
*.py[cod]
*$py.class

db.sqlite3

venv/
env/
.venv/
env/
ENV/
env.bak/
ENV.bak/


core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
.github/
cloudinary_python.txt
.venv