.book-table-wrapper {
  min-height: 98vh;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 10px 5%;
}

.book-table-wrapper .image {
  width: 90%;
}

.book-table-wrapper .image h1 {
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
  color: var(--color-orange-400);
}

.book-table-wrapper .image #restaurant-image {
  width: 100%;
  height: 100%;
}

.book-table-wrapper .inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.book-table-wrapper .inner-wrapper #headline {
  margin: 40px auto 17px;
  font-size: 3rem;
}

.book-table-wrapper .inner-wrapper #alert {
  background-color: #061918;
  padding: 5px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
  padding: 2px 10px;
  border-radius: 5px;
}

.book-table-wrapper .inner-wrapper .error {
  background-color: var(--color-red-800);
  padding: 5px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.book-table-wrapper .inner-wrapper .book-table-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.book-table-wrapper .inner-wrapper .book-table-form>p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.book-table-wrapper .inner-wrapper .book-table-form input {
  border-radius: 10px;
  padding: 3px 10px;
}

.book-table-wrapper .inner-wrapper .book-table-form .book-button {
  background-color: orange;
  padding: 10px;
  text-align: center;
  color: black;
  font-weight: 600;
  border: none;
  transition: all 0.3s;
  border-radius: 10px;
}

.book-table-wrapper .inner-wrapper .book-table-form .book-button:hover {
  background-color: var(--color-blue-100);
  transform: scale(1.05);
  cursor: pointer;
  font-size: 1.7rem;
}

@media screen and (max-width: 769px) {
  .book-table-wrapper .image {
    display: none;
  }
}