.login-wrapper {
  min-height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5%;
}

.login-wrapper .image {
  width: 90%;
}

.login-wrapper .image h1 {
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
  color: var(--color-orange-400);
}

.login-wrapper .image #restaurant-image {
  width: 100%;
  height: 100%;
}

.login-wrapper .inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-wrapper .inner-wrapper #headline {
  margin: 17px auto;
  font-size: 3rem;
}

.login-wrapper .inner-wrapper #alert {
  background-color: var(--color-orange-400);
  padding: 5px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.login-wrapper .inner-wrapper .error {
  background-color: var(--color-red-800);
  padding: 5px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.login-wrapper .inner-wrapper .login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.login-wrapper .inner-wrapper .login-form>p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login-wrapper .inner-wrapper .login-form input {
  border-radius: 10px;
  padding: 3px 10px;
}

.login-wrapper .inner-wrapper .login-form #register-link {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.login-wrapper .inner-wrapper .login-form #register-link a {
  text-decoration: underline;
}

.login-wrapper .inner-wrapper .login-form .login-button {
  background-color: orange;
  padding: 10px;
  text-align: center;
  color: black;
  font-weight: 600;
  border: none;
  transition: all 0.3s;
  border-radius: 10px;
}

.login-wrapper .inner-wrapper .login-form .login-button:hover {
  background-color: orange;
  transform: scale(1.05);
  cursor: pointer;
  font-size: 1.7rem;
}

@media screen and (max-width: 769px) {
  .login-wrapper .image {
    display: none;
  }
}