h1 {
  margin: 65px auto 0;
}

.menu-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 40px 20px;
  place-items: center;
  text-align: center;
}

.menu-item {
  width: 300px;
  height: auto;
  margin-bottom: 40px;
  border-bottom: 2px solid orange;
  border-radius: 10px;
  background-color: orange;
  color: black;
}

.menu-item img {
  height: 182px;
  object-fit: cover;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media screen and (max-width: 769px) {
  .menu-wrapper {
    margin: 0 20px 40px;
  }
}
