{% extends 'base.html' %} {%load static%} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %} {% block content %}
<div class="home-wrapper">
  <div class="hero">
    <img src="{% static 'img/pizza_hero.webp' %}" alt="pizza image as website banner">
  </div>
    <div class="main-btns">
      {% if request.user.is_authenticated %}
      <div class="action-btns">
        <a href="{% url 'menu' %}" class="button-link"> Explore Menu </a>
        <a href="{% url 'book-table' %}" class="button-link"> Book a table </a>
      </div>
      {%else%}
      <div class="action-btns">
        <a href="{% url 'menu' %}" class="button-link"> Explore Menu </a>
        <a href="{% url 'login' %}" class="button-link">
          Login and book a table
        </a>
      </div>
      {%endif%}
  </div>
  <div class="menu">
    <h1>Best Pizza .. Tasty Pizza!</h1>
    <div class="explore_menu">
      <a href="{% url 'menu' %}" class="button-link">
        <h5>Click To Explore Our Menu</h5>
        <img class="menu_logo" src="{% static 'img/menu_logo.webp' %}" alt="Explore Menu Button">
      </a>
    </div>
  </div>
  <div class="about">
    <h1>About Us</h1>
    <div class="about-text">
      <img src="{% static 'img/about.webp' %}" alt="restaurant employee">
      <p>
        Welcome to Tasty Pizza, where flavor meets perfection!
        For over 15 years, we’ve been serving our community with
         a variety of mouthwatering pizzas made from the finest 
         ingredients. From classic Margherita to innovative new 
         flavors with fresh, quality toppings, every slice at 
         Tasty Pizza tells a story of passion, craftsmanship, 
         and a love for sharing great food.
        Whether you're a die-hard pizza fan or someone trying 
        pizza for the first time, Tasty Pizza offers a unique 
        experience with flavors that stand out. Whether you 
        choose to enjoy our pizzas in a cozy atmosphere or take
         them home, we’ve been proudly serving our delicious 
         pies for over a decade, becoming a local favorite along
          the way.

        At Tasty Pizza, it's not just about food—it's about creating 
        unforgettable dining moments with every bite. Join us and 
        discover why we’ve been the go-to spot for pizza lovers in the are
      </p>
    </div>
  </div>

  <div class="about">
    <h1>Find Us</h1>
    <div class="about-text">
      <div class="contact">
        <div>
          <p class="contact-title">Phone</p>
          <p>012-1234567</p>
        </div>
        <div>
          <p class="contact-title">Opening Hours</p>
          <p>Monday - Sunday: 11:00 - 23:00</p>
        </div>
        <div>
          <p class="contact-title">Email</p>
          <p>tasty.pizza@outlook.com</p>
        </div>
        <div>
          <p class="contact-title">Address</p>
          <p>Mjölnergatan 5, 652 29 Märsta, Stockholm</p>
        </div>
      </div>
      <img src="{% static 'img/resturant_outside.webp' %}" alt="restaurant outside image">
    </div>
  </div>
</div>
{% endblock %}
